asgiref
asttokens
async-timeout
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
colorama
comm
constantly
contourpy
crispy-bootstrap5
cryptography
cycler
daphne
debugpy
decorator
Django
django-channels
django-cleanup
django-crispy-forms
django-filter
django-htmx
django-sites
django-widget-tweaks
exceptiongroup
executing
Faker
filelock
fonttools
fsspec
hyperlink
idna
importlib_metadata
importlib_resources
incremental
jedi
Jinja2
joblib
# mysqlclient
nest-asyncio
networkx
numpy
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure-eval
pyasn1
pyasn1_modules
pycparser
Pygments
pyOpenSSL
pyparsing2
python-dateutil
pytz
pywin32
PyYAML
pyzmq
regex
requests
requests-oauthlib
safetensors
scikit-learn
service-identity
shortuuid
six
sqlparse
stack-data
sympy
tbb
threadpoolctl
tornado
tqdm
traitlets
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
wcwidth
zipp
